* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to right, #f8fafc 10%, #f1f5f9 20%, #e2e8f0 70%);
    color: white;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    font-size: 1.1rem;
    text-align: center;
}

.router-link {
    color: black;
    text-decoration: none;
}
  
nav a.router-link-exact-active {
    text-decoration: underline;
}